<!DOCTYPE HTML>
<html>
    <head>
        <title>spark_drill_index</title>
        <!--<link href="//vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
        <script src="//vjs.zencdn.net/7.0/video.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->

   <!-- flowplayer.js -->
   <script type="text/javascript" src="../static/flowplayer.min.js"></script>

   <!-- player styling -->
   <link rel="stylesheet" type="text/css" href="../static/flowplayer/minimalist.css">
    </head>
    
    <body>
        
        
        <form method='POST' name='connection' action='/in'>
            <input type="text" name="schema" placeholder="enter schema name here">
            <input type="text" name="query" placeholder="here goes path to your file"></input>
            <input type='text' name='drill_host' placeholder='please enter drill forename here'></input>
            <input type='submit' name='btnSubmit' value='submit'></input>
        </form>

       <!-- <video
    id="my-player"
    class="video-js"
    controls
    preload="auto"
    poster="//vjs.zencdn.net/v/oceans.png"
    data-setup='{}'>
  <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
  
  <p class="vjs-no-js">
    To view this video please enable JavaScript, and consider upgrading to a
    web browser that
    <a href="http://videojs.com/html5-video-support/" target="_blank">
      supports HTML5 video
    </a>
  </p>
</video>
-->


   <!-- player 2 
   <div class="flowplayer">
      <video>
        
         <source src="//vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
      </video>
   </div>-->
    </body>
</html>
