<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/jquery.dataTables.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet"/>
    </head>
    
    <body>
        <script>
            $(document).ready(function() {
              $('.example').DataTable();
            });
        </script>
        <div>
            {{pandas_html | safe}}
        </div>
        
        <div>
            <b>{{foreman_names}}</b>
        </div>
        
        <div id="write_to_mysql">
            <form id="write_sql" method="POST" action="/write_to_mysql">
                <input type="text" name="write_to_mysql" placeholder="please enter table name where you want to write this output"></input>
                <input type="submit" id="query_write_sbmt" value="submit_write_query"></input>
            </form>
        </div>
        <div id="write_to_gs">
            <form id="write_gs" method="POST" action="/write_to_gs">
                <input type="text" name="write_to_gs" placeholder="please enter table name where you want to write this output"></input>
                <input type="submit" id="query_write_sbmt" value="submit_write_query"></input>
            </form>
        </div>
    </body>
</html>
